body {
  color: $therdTextColor;

  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.375;
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  margin-bottom: 4.687em;
}

.title {
  font-family: 'Tinos', serif;
  font-size: 2.5rem; //clamp(2.5rem, 3vw, 3.375rem)
  line-height: 1.15;
  text-align: center;

  &__decor {
    color: $titleDecorColor;
  }
}
