$mainTextColor: #656363;
$accentTextColor: #ffffff;
$titleTextColor: #2c2c2c;
$subDecorColor: #bc9060;
$accentColor: #ff7400;
$secondTextColor: #d67e35;
$titleDecorColor: #d67e34;
$therdTextColor: #000000;

$boxShadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);

$animationCubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
