.cook-title {
  margin-bottom: 5em;
  width: 145px;
  margin-right: auto;
  margin-left: auto;
}

.cook__list {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.cook__item--box {
  // overflow: hidden;
}

.cook__item--img {
  // height: 290px;
  // width: 380px;
  // width: auto;
  // height: auto;
  // height: 100%;
  // max-width: none;
  // max-height: none;
  // object-fit: cover;
  // position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
