.dish__title {
  margin-bottom: 1.7em;
}

.dish__inner {
  margin: 0 calc(-50vw + 50%);
  margin-bottom: 3.125em;
}

.dish__img {
  min-width: 100%;
}

.dish__list {
  display: flex;
  flex-direction: column;
  row-gap: 87px;
}

.dish__item {
  display: flex;
}

.dish__item__content {
  align-self: center;
  flex: 0 0 auto;

  margin-left: 0.5em;

  font-family: 'Tinos', serif;
  text-align: center;
}

.content__text {
  margin-bottom: 0.272em;
  font-size: 1.375rem;
  line-height: 1.136;
}

.content__price {
  font-size: 1.625rem;
  line-height: 1.153;
}
