.gallery-title {
  margin-bottom: 5.125em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 145px;
}

.gallery__list {
  margin-right: auto;
  margin-left: auto;
  width: 250px;
}

.gallery__item {
  margin-bottom: 20px;
}

.gallery__item--box {
  overflow: hidden;
}

.gallery__item--img {
  width: 100%;
  height: 100%;
}
