.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 800px;
  background-color: $mainTextColor;
  background-image: url('../images/header-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -2;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/header-2x.jpg');
  }
}

.hero-content {
  margin-bottom: 12.5em;

  text-align: center;
}

.hero__title {
  margin-bottom: 10px;

  color: $secondTextColor;

  font-family: 'Tinos', serif;
  font-size: 1.875rem;
  line-height: 1.133;
}

.hero__sub {
  font-size: 2.5rem;
  line-height: 1.15;
}

.hero__text {
  margin-bottom: 3em;

  color: $accentTextColor;

  font-size: 0.937rem;
  line-height: 1.333;
  text-transform: uppercase;
}

.hero__btn--link {
  @include button;
  min-width: 9.785em;
}

.hero__list {
  display: flex;
  flex-direction: column;

  // position: relative;
  // top: -100px;

  row-gap: 0.875em;
}

.hero__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include padding(1.125em 0.625em);

  min-height: 17.25em;

  background-color: $accentTextColor;
  box-shadow: $boxShadow;
}

.hero__item--title {
  flex-grow: 1;

  margin-bottom: 0.384em;
  color: $titleTextColor;

  font-family: 'Tinos', serif;
  font-size: 1.625rem;
  line-height: 1.153;
}

.hero__decor {
  color: $subDecorColor;
}

.hero__item--text {
  flex-grow: 2;

  color: $mainTextColor;

  font-family: 'Tinos', serif;
  font-size: 1.375rem;
  line-height: 1.136;
  text-align: center;
}
